body{
    margin: 0%;
    padding: 0%;
    background-color: #eaf4f4;
}

header{
    width: 100%;
    border: solid;
    height: 30%;
    background-color: #a4c3b2;

}

main{
    border: solid;
    height: 50%;
    display: flex;
    flex-direction: row;
}
footer{
    height: 20%;
    width: 100%;
    background-color: #007b5e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sectionBusca{
    display: flex;
    height: 25%;
    width: 100%;
    border: solid;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.divBusca{
    border: solid;
    height: 20%;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 3px;
}
.lupa{
    width: 8%;
}

.sectionTitulo{
    padding: 3%;
    display: flex;
    justify-content: center; 
}
.divTitulo{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #eaf4f4;
}

.txtBusca{
    width: 100%;
}


.ladoEsquerdo{
    width: 20%;
    display: flex;
    flex-direction: column;
    border: solid;
}

.superiorDoMenu{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botao{
    width: 33.33%;
    height: 100%;
    padding: 1%;
    background-color: #cad2c5;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    cursor: pointer;
}

.itens{
    align-items: center;
}



.central{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espacoImagem{
    width: 33%;
}

.espacoTexto{
    width: 33%;
}



.alinhaFooter{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.minhasInformacoes{
    width: 20%;
    height: 100%;
}
.meuInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoImagemCode{
    display: flex;
    justify-content: center;
}

.redesSociais{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagemRede{
    height: 35px;
    width: auto;
}
.iconesTextoRedes{
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.textoFooter{
    color: white;
}